.logo {
    height: 70px;
    position: absolute;
    width: 60px;
    top: 30px;
    left: 50px;
    transition:1s;
    transform :2s;
}
.logo:hover{
    width:100px;
    height:100px;
    transform:rotate(360deg);
}

 ul {
    float: right;
    text-align: center;
    padding:5;
    color:white;
}
 li {
    float: left;
    display:inline;
    font-size: 20px;
    padding: 15px;
    font-family: Georgia;
    text-align: center;    
}
li a, .dropbtn{
    display:inline;
    color:wheat;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
}
li.dropdown{
    display:inline-block;
}
.drop-content{
    display:none;
    position: absolute;
    background-color:wheat;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 160px;
    z-index:1;
}
.drop-content a{
    color:black;
    padding: 12px 16px;
    text-decoration:none;
    display: block;
    text-align: left;
}
.dropdown:hover .drop-content{
    display:block;
}

a:link {
    text-decoration:solid;
}
a:visited {
    text-decoration:none;
}
a:hover {
    text-decoration: underline;
    /* text-decoration-color:rgb(17, 17, 17); */
   
}

a:link{
    color:white;
}
a[href^="learnmore"]{
    color:rgba(50, 15, 207);
}

.bgvideo {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index:-1;
    min-width: 100%;
    min-height: 100%;
}

*{
    box-sizing: border-box;
    border:120px;   
}
.flex-container{ 
    display: flex;
    float:center;
    width:33%;
    padding:20%;
    height: auto;
    text-align:center;   
}
.flex-container > article{
    background-color: wheat;
    margin: 10px;
    padding:20px;
    font-size:13px
}

.left{
    width:auto;
    height:auto ;   
}
.center{
    width:auto;
    height:auto;
}
.right{
    width:auto;
    height:auto; 
}
.fourth{
    width:auto;
    height:auto; 
}
footer.li{
    display:flex;
    padding:5px;
    font-size:10px;
}
#himalaya:hover{
    filter:grayscale();
}
#marina-bay:hover{
    filter:grayscale();
}
#cruises:hover{
    filter:grayscale();
}
#marina_bay_sands:hover{
    width:300px;
    height:300px;
    transition:2s;
}
#gardens_by_the_bay:hover{
    width:300px;
    height:300px;
    transition:2s;
}
#sentosa:hover{
    width:300px;
    height:300px;
    transition:2s;
}
#Italian:hover{
    width:300px;
    height:300px;
    transition:2s;
}
#Russian:hover{
    width:300px;
    height:300px;
    transition:2s;
}
#Royal:hover{
    width:300px;
    height:300px;
    transition:2s;
}

